node_modules
bin
obj
.ionide
elm-stu*ff
.stack-work
.psci_modules
.pulp-cache
**/output/**
.cache
__pycache__
.pytest_cache
.merlin
target
bs
.nrepl-port
.tern-port
.DS_Store
.lein-*
.idea
*.bs.js
.vscode
*.cabal
